<div class="row">
  <div class="col-10 offset-1">
    Main content here.
  </div>
</div>

{%load static%}

<script src="{%static 'lib/jquery-3.5.1.min.js'%}"></script>
<script src="{%static 'lib/nunjucks.min.js'%}"></script>
<script src="{%static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'bootstrap-table/bootstrap-table.js'%}"></script>
<script src="{%static 'bootstrap-table/extensions/cookie/bootstrap-table-cookie.js'%}"></script>
<script src="{%static 'bootstrap-table/extensions/multiple-sort/bootstrap-table-multiple-sort.js'%}"></script>
<script src="{%static 'jQuery-contextMenu/jquery.contextMenu.min.js'%}"></script>
<script src="{%static 'jQuery-contextMenu/jquery.ui.position.min.js'%}"></script>
<script src="{%static 'sweetalert2/sweetalert2.all.min.js'%}"></script>
<script src="{%static 'jquery-ui/jquery-ui.min.js'%}"></script>
<script src="{%static 'sprintf.js/sprintf.min.js'%}"></script>
<script src="/assets/js/bundle.app.js?t={% now 'U'%}"></script>
